body {
  font-family: "Open Sans", sans-serif;
  color: white;
  /* background-image: linear-gradient(357deg, #ff3c008b 0%, #0572b5c9 90%); */
  background-color: rgba(43, 72, 76, 0.925);
  line-height: 1.5;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.App div.Weather {
  opacity: 1;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  max-width: 600px;
  padding: 22px;
  padding-top: 30px;
  border-radius: 10px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}
.App div.col.today {
  width: 265px;
  padding: 1%;
}
.App div.col.daily-forecast {
  margin: 0 0 8px;
  padding: 1%;
  color: white;
  min-width: 265px;
}
.App #search-city {
  display: inline;
  margin-left: -10px;
  padding: 2%;
  padding-right: 0;
}
.App #city-input {
  border-radius: 4px;
  margin-left: 7px;
  width: 180px;
  display: inline;
}
.App #search-submit {
  border-radius: 4px;
  width: 23%;
  margin-left: 10px;
  height: 33px;
  background: rgba(217, 249, 244, 0.3);
  color: #ffffff;
  border: 1px solid hsla(0, 0%, 100%, 0);
}
.App #search-submit:hover {
  background: rgba(217, 249, 244, 0.5);
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  transition: all 200ms ease-in-out;
}
.App #current-location {
  border-radius: 4px;
  width: 23%;
  height: 33px;
  margin-left: 10px;
  background: rgba(217, 249, 244, 0.3);
  color: #ffffff;
  border: 1px solid hsla(0, 0%, 100%, 0);
}
.App #current-location:hover {
  background: rgba(217, 249, 244, 0.5);
  transition: all 200ms ease-in-out;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}

.App #required-city {
  font-weight: bold;
  font-size: 25px;
}
.App .weather-forecast-info {
  margin: 15px 0;
  margin-bottom: 5px;
  text-align: center;
}
.App .temperature-value {
  margin: 0 auto;
  font-size: 12px;
}
.App .daily-forecast-icon {
  width: 30px;
}
