body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-image: linear-gradient(357deg, #a007178b 0%, #0059a7c9 90%);
  line-height: 1.5;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.App div.Weather {
  opacity: 1;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  max-width: 600px;
  padding: 22px;
  padding-top: 30px;
  border-radius: 10px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}
.App div.col.today {
  width: 265px;
  padding: 1%;
}
.App div.row.today {
  background-color: rgba(202, 231, 235, 0.2);
  border-radius: 5px;
  text-align: center;
  padding: 1%;
  margin: 0 auto;
}
.App div.col-6.weather-description {
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
}
.App div.col-6.pressure-wind.weather-description {
  padding-left: 1px;
}
.App span#description {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 14px;
}
.App p {
  margin: 0 auto;
}

.App span.current-date {
  font-size: 16px;
}
.App span.current-temperature {
  font-size: 30px;
  font-weight: bold;
}
.App a#celsius,
.App a#fahrenheit {
  color: white;
}
.App span.units.convert {
  font-size: 18px;
  position: relative;
  top: -8px;
  color: white;
}
.App span.convert .active {
  color: white;
  text-decoration: none;
  cursor: default;
}
.App .col-12 {
  padding: 0px;
}
.App table.hourly-forecast {
  border-collapse: separate;
  border-spacing: 3px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
}
.App th.hourly-forecast-data,
.App td.hourly-forecast-data-temp {
  width: 20%;
  background-color: rgba(217, 249, 244, 0.2);
  border-radius: 4px;
}
.App th.hourly-forecast-data {
  height: 5.5em;
  line-height: 2.5;
}
.App td.hourly-forecast-data-temp {
  height: 2.6em;
}
.App img {
  width: 100%;
}
.App div.col.daily-forecast {
  margin: 0 0 8px;
  padding: 1%;
  color: white;
  min-width: 265px;
}
.App div.row.daily-forecast {
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px 0;
  font-size: 15px;
  border-radius: 5px;
}
.App div.forecast-date {
  text-align: left;
  padding-left: 30px;
}
.App div.row.sun-position {
  font-size: 15px;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  background-color: rgba(217, 249, 244, 0.2);
}
.App div.col-12.sun-img {
  width: 100%;
  padding: 1%;
}
.App img.sun-position {
  width: 100%;
  padding: 20px;
  display: block;
  margin: 0 auto;
}
.App div.col-6.sunrise {
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}
.App div.col-6.sunset {
  text-align: right;
  padding-right: 25px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
}

.App #search-city {
  display: inline;
  margin-left: -10px;
  padding: 2%;
  padding-right: 0;
}
.App #city-input {
  border-radius: 4px;
  margin-left: 7px;
  width: 180px;
  display: inline;
}
.App #search-submit {
  border-radius: 4px;
  width: 23%;
  margin-left: 10px;
  height: 33px;
  background: rgba(217, 249, 244, 0.3);
  color: #ffffff;
  border: 1px solid hsla(0, 0%, 100%, 0);
}
.App #search-submit:hover {
  background: rgba(217, 249, 244, 0.5);
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  transition: all 200ms ease-in-out;
}
.App #current-location {
  border-radius: 4px;
  width: 23%;
  height: 33px;
  margin-left: 10px;
  background: rgba(217, 249, 244, 0.3);
  color: #ffffff;
  border: 1px solid hsla(0, 0%, 100%, 0);
}
.App #current-location:hover {
  background: rgba(217, 249, 244, 0.5);
  transition: all 200ms ease-in-out;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}

.App #required-city {
  font-weight: bold;
  font-size: 25px;
}
.App #current-icon-description {
  width: 70%;
  margin: 0 auto;
}

.App .days {
  border-radius: 4px;
  background-color: rgba(217, 249, 244, 0.2);
  position: relative;
  margin-bottom: 7px;
  height: 61px;
}
.App .weather-forecast-info {
  margin: 15px 0;
  margin-bottom: 5px;
  text-align: center;
}
.App .temperature-value {
  margin: 0 auto;
  font-size: 12px;
}
.App .daily-forecast-icon {
  width: 30px;
}
