.HourlyForecast .col-12 {
  padding: 0px;
}
.HourlyForecast table.hourly-forecast {
  border-collapse: separate;
  border-spacing: 3px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
}
.HourlyForecast th.hourly-forecast-data,
.HourlyForecast td.hourly-forecast-data-temp {
  width: 20%;
  background-color: rgba(217, 249, 244, 0.1);
  border-radius: 4px;
}
.HourlyForecast th.hourly-forecast-data:hover {
  background-color: rgba(217, 249, 244, 0.2);
  transition: all 200ms ease-in-out;
}
.HourlyForecast td.hourly-forecast-data-temp:hover {
  background-color: rgba(217, 249, 244, 0.2);
  transition: all 200ms ease-in-out;
}
.HourlyForecast th.hourly-forecast-data {
  height: 5.5em;
  line-height: 2.6em;
}
.HourlyForecast td.hourly-forecast-data-temp {
  height: 2.7em;
}
.HourlyForecast img {
  width: 46px;
}
