.SunriseSunset div.row.sun-position {
  font-size: 15px;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  background-color: rgba(217, 249, 244, 0.1);
}
.SunriseSunset div.row.sun-position:hover {
  background-color: rgba(217, 249, 244, 0.2);
  transition: all 200ms ease-in-out;
}
.SunriseSunset div.col-12.sun-img {
  width: 100%;
  padding: 1%;
}
.SunriseSunset img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.SunriseSunset div.col-6.sunrise {
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  padding-left: 29px;
  padding-bottom: 15px;
}
.SunriseSunset div.col-6.sunset {
  text-align: right;
  padding-right: 29px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
}
